<section class="four-column-grid">
  <h1 hidden="true">Platforms where we blog.</h1>

  <article class="flex fs-paragraph">
    <p>
      Everyone likes to share their thoughts and experiences, we are no
      exception.
    </p>
    <p>
      Following are the platforms that we use to blog about our experiences with
      software technologies and design principles.
    </p>
    <ul>
      <li>
        <a
          href="https://dev.to/devshotdotcom"
          target="_blank"
          rel="noopener noreferrer"
          >Dev.To</a
        >
      </li>
      <li>
        <a
          href="https://devshot-coffee.medium.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Medium</a
        >
      </li>
    </ul>
  </article>
</section>
<div class="spacer" aria-hidden="true"></div>
<app-hero></app-hero>
<div class="spacer" aria-hidden="true"></div>
