<section class="flex fs-paragraph">
  <h1 hidden="true">Mobile applications that we have created</h1>

  <article class="four-column-grid">
    <p>
      Mobile applications enjoy the most number of users due to obvious reasons,
      not to mention the incredible ease of access and secure app stores.
    </p>
  </article>
  <div role="heading" aria-hidden="true">We have created</div>
</section>
<section class="grid" role="grid">
  <h1 hidden="true">We have created</h1>

  <app-product
    [imageName]="products.salahTawqit.imageName"
    [imageAlt]="products.salahTawqit.imageAlt"
    [title]="products.salahTawqit.title"
    [url]="products.salahTawqit.url"
    [component]="components.mobile"
  ></app-product>
</section>
