<article
  class="four-column-grid fs-paragraph"
  aria-label="Website Introduction"
>
  <div id="logo" class="hero__item">
    <img src="../../assets/doge.png" alt="Doge on the moon" />
  </div>
  <div id="tagLines" class="hero__item flex">
    <p>
      "Taking software development to the moon", but how? "By mutual love,
      respect, and understanding of each other’s hardwork", said Kashan Ahmad.
    </p>
    <p>
      We work with design principles that stand out. Our products vary from
      minimalistic applets to professional-looking flagships.
    </p>
  </div>
  <div id="externalLinks" class="hero__item flex vertical noGap">
    <a routerLink="/blogs">Blogs</a>
    <a
      href="https://www.youtube.com/channel/UCYCAUsfy9JybOT-DvdTV_sA"
      target="_blank"
      rel="noopener noreferrer"
      >Youtube</a
    >
    <div>{{ hostMail }}</div>
  </div>
  <div id="productLinks" class="hero__item flex vertical noGap">
    <a routerLink="/web-apps">Web</a>
    <a routerLink="/mobile-apps">Mobile</a>
    <a routerLink="/ui-ux-designs">UI / UX</a>
  </div>
</article>
