<section class="flex fs-paragraph">
  <h1 hidden="true">Web applications that we have created</h1>

  <article class="four-column-grid">
    <p>
      The web is a complex space to cover, no doubt it feels like a blackhole at
      times, nonetheless, web applications are the most versatile, easy to use,
      and accessible.
    </p>
  </article>
  <div role="heading" aria-hidden="true">We have created</div>
</section>
<section class="grid" role="grid">
  <h1 hidden="true">We have created</h1>

  <app-product
    [imageName]="products.seoHelpify.imageName"
    [imageAlt]="products.seoHelpify.imageAlt"
    [title]="products.seoHelpify.title"
    [url]="products.seoHelpify.url"
    [component]="components.web"
  ></app-product>
</section>
